body {background: #edeef0}
h1 {color: #4a76a8; font-size:26px}
h2 {color: #4a76a8; font-size:30px}
.button{color: #ff0000; font-size:14px; text-align: center}
label{font-size:18px; text-align: center; text-align-last: start; font-family: "Arial"}
